
    <h2>Login</h2>
    <form action="/auth/login" method="POST">
      <div>
        <label for="uname">Username</label><br>
        <input type="text" name="uname">
      </div>
      <div>
        <label for="password">Password</label><br>
        <input type="password" name="password">
      </div>
      <br>
      <button type="submit">Login</button>
    </form>
<br>
