<h2>Sign Up</h2>
<form action="/auth/signup" method="POST">
  <div>
    <label for="uname">Username</label><br>
    <input type="text" name="uname">
  </div>
  <div>
    <label for="password">Password</label><br>
    <input type="password" name="password">
  </div>
  <div>
    <label for="passwordRepeat">Confirm Password</label><br>
    <input type="password" name="passwordRepeat">
  </div>
  <br>
  <button type="submit">Sign Up</button>
</form>
<br>