
<% if (isLoggedIn) { %>
  <form action="/posts/create" method="post">
    <label for="title">Title</label><br>
    <input type="text" name="title"><br>

    <label for="link">Link</label><br>
    <input type="text" name="link"><br>

    <label for="subgroup">subgroup</label><br>
    <input type="text" name="subgroup"><br>

    <label for="description">Description</label><br>
    <textarea name="description" rows="4" cols="50"></textarea><br>
    
    <button>Create Post</button>
  </form>
<% } else { %>
  <h5>You must login before creating a post!</h5>
  <a class="nav-link" href="/auth/login">Login</a>
<% } %>
  <br>
