<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<header>
  
</header>
<body>
  <form action="/posts/create" method="post">
    <input type="text" name="title" />
    <input type="text" name="link" />
    <input type="text" name="creator" />
    <input type="text" name="description" />
    <input type="text" name="subgroup" />
    <button>Create Post</button>
  </form>
</body>
</html>